@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Titillium+Web:wght@600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color--: #5108c8;
  --primary-color-dark-1--: #360585;
  --primary-color-dark-2--: #240459;
  --primary-color-dark-3--: #12022c;
  --primary-color-dark-4--: #090116;
  --primary-color-light-1--: #8c53e8;
  --primary-color-light-2--: #ad84ef;
  --primary-color-light-3--: #ceb5f5;
  --primary-color-light-4--: #efe6fc;
  --secondary-color--: #00f5d4;
  --secondary-color-dark-1--: #00c4aa;
  --secondary-color-dark-2--: #00937f;
  --secondary-color-dark-3--: #004940;
  --secondary-color-dark-4--: #001815;
  --secondary-color-light-1--: #4df8e1;
  --secondary-color-light-2--: #80faea;
  --secondary-color-light-3--: #b3fcf2;
  --secondary-color-light-4--: #e6fefb;
  --head-font--: "Titillium Web", sans-serif;
}

body {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}
.hero-body {
  width: 100%;
  background: var(--primary-color-dark-4--);
  margin: 0 auto;
  /* height: 100vh; */
  overflow: hidden;
}
.lines {
  position: relative;
}
.line {
  position: absolute;
  width: 1px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
.line:first-child {
  left: 25%;
}
.line:nth-child(2) {
  left: 50%;
}
.line:nth-child(2)::after {
  animation-delay: 1s;
}
.line:nth-child(3) {
  left: 75%;
}
.line:nth-child(3)::after {
  animation-delay: 2s;
}
.banner {
  width: 100%;
  background: rgba(0, 245, 212, 0.07);
}
.banner-box-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  padding: 1rem 0;
  margin: 0 auto;
  color: var(--primary-color-light-4--);
}
.banner-name {
  grid-column: 2/3;
  color: var(--primary-color-light-4--);
  font-size: 1rem;
  margin-left: 4rem;
}
.banner-name:hover {
  color: var(--primary-color-light-3--);
}
.banner-close-btn {
  grid-column: 4/4;
  cursor: pointer;
  background: transparent;
  border: none;
}
.banner-close-btn span {
  color: var(--primary-color-light-3--);
  font-size: 2rem;
}
/* --------------
NAVBAR
---------------- */
.nav-bar {
  background: rgba(81, 8, 200, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem 0;
}
.nav-bar-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.logo img {
  width: 96px;
}
.nav-item {
  display: flex;
  margin-left: 3rem;
}
.nav-link {
  position: relative;
  list-style: none;
  padding: 0 2rem 0 2rem;
}
.nav-link a {
  color: var(--primary-color-light-4--);
  font-size: 1.25rem;
}
.nav-link a:hover {
  color: var(--primary-color-light-3--);
}
.drop-down-content-title {
  color: var(--primary-color-light-3--);
}
.drop-down-content {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  line-height: 2;
  margin: 0.25rem 0 0 0;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--primary-color-dark-4--);
  z-index: 1;
  transition: all 0.4s ease-in;
}
.nav-link:hover .drop-down-content {
  display: flex;
}
.nav-link .drop-down-content-link {
  font-size: 1rem;
  color: var(--primary-color-light-4--);
  letter-spacing: 1px;
}
.drop-down-content-link:hover {
  color: var(--primary-color-light-3--);
}
.log-sign-up a {
  margin: 0 1rem;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: var(--primary-color-light-4--);
}
.log-in-btn:hover {
  color: var(--primary-color-light-3--);
}
.sign-up-btn {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  transition: all 0.3s ease;
}
.sign-up-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* --------------
Hero Section
---------------- */
.hero-section-container {
  max-width: 1000px;
  margin: 4rem auto 0 auto;
}
.hero-header {
  font-family: var(--head-font--);
  font-size: 4rem;
  font-weight: 500;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-header-title-box {
  margin: 0 0 1.5rem 0;
}
.hero-header-title-box .feature::before {
  content: " ";
  font-size: 5rem;
  font-family: var(--head-font--);
  font-weight: 600;
  background: -webkit-linear-gradient(
    270deg,
    var(--primary-color-light-1--),
    var(--secondary-color-light-1--)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-color-light-4--);
  transition: 0.3s ease-in-out;
  animation: feature 10s ease-in-out infinite;
  padding: 0;
  margin: 0;
  line-height: 0.5;
}

@keyframes feature {
  0% {
    content: "Zero Fees";
  }
  25% {
    content: "Free Transfer";
  }
  50% {
    content: "Unlimited Rewards";
  }
  100% {
    content: "Investments";
  }
}

.hero-header-subtitle,
.hero-header-subtitle-2 {
  color: var(--primary-color-light-4--);
  font-size: 1rem;
  margin: 0.75rem 0;
}

.get-started-btn {
  color: var(--secondary-color-light-4--);
  background: var(--primary-color--);
  padding: 1rem 1.5rem;
  margin: 1.25rem 0;
  display: inline-block;
}
.hero-header-subtitle-3 {
  color: var(--primary-color-light-4--);
  display: flex;
  margin: 1rem 0 0 0;
}
.hero-header-subtitle-3 img {
  width: 48px;
  margin: 0 0.5rem 0 0;
}

/* --------------------------
Section One
---------------------------- */
.sponsor {
  padding: 4rem 0;
  background: var(--primary-color-dark-4--);
}
.sponsor-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 1000px;
  margin: 0 auto;
}

.sponsor-box img {
  max-width: 128px;
  height: fit-content;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.sponsor-box img:hover {
  filter: grayscale(0);
}

.section-2 {
  padding: 4rem 0;
  background: var(--primary-color-dark-4--);
}
.section-2-container {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.section-2-lines {
  position: absolute;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.25;
}
.section-2-lines:first-child {
  left: 0;
}
.section-2-lines:nth-child(2) {
  left: 25%;
}
.section-2-lines:nth-child(3) {
  left: 50%;
}
.section-2-lines:nth-child(4) {
  left: 75%;
}
.section-2-lines:nth-child(5) {
  left: 100%;
}
.section-2-box {
  display: block;
  text-align: center;
  padding: 2rem 0;
  line-height: 1.2;
}
.section-2 .section-2-title {
  font-family: var(--head-font--);
  padding: 1rem;
  font-size: 1rem;
  color: var(--primary-color-light-4--);
  background: var(--primary-color-dark-4--);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  line-height: 1;
}
.section-2-subtitle-1 {
  font-family: var(--head-font--);

  color: var(--primary-color-light-4--);
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1;
}
.section-2-subtitle-2 {
  font-family: var(--head-font--);
  font-size: 5rem;
  font-weight: 500;
  background: -webkit-linear-gradient(
    270deg,
    var(--primary-color-light-1--),
    var(--secondary-color-light-1--)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----------------------
Section 3
--------------------------*/
.section-3 {
  width: 100%;
  padding: 5rem 0;
  background-image: linear-gradient(
    145deg,
    hsl(263deg 91% 5%) 0%,
    hsl(267deg 92% 6%) 57%,
    hsl(265deg 92% 8%) 74%,
    hsl(256deg 78% 12%) 83%,
    hsl(255deg 77% 19%) 89%,
    hsl(261deg 88% 25%) 92%,
    hsl(259deg 83% 24%) 95%,
    hsl(254deg 75% 17%) 98%,
    hsl(263deg 91% 9%) 100%
  );
}
.section-3-container {
  max-width: 1000px;
  margin: 0 auto;
  background: var(--primary-color-dark-4--);
  padding: 2rem 3rem 4.5rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.section-3-top-part {
  height: 30vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color-light-2--);
  box-shadow: rgba(255, 225, 225, 0.4) 0px 7px 29px 0px;
  padding: 4rem 9rem;
  margin: 0 auto;
}

.reward-box {
  display: flex;
  justify-content: space-between;
  background: var(--primary-color-dark-3--);
  padding: 1rem 1.25rem;
}
.reward-box-3 {
  background-image: linear-gradient(
    145deg,
    hsl(263deg 91% 5%) 0%,
    hsl(228deg 84% 5%) 17%,
    hsl(212deg 100% 5%) 33%,
    hsl(202deg 100% 5%) 50%,
    hsl(193deg 100% 5%) 67%,
    hsl(183deg 100% 5%) 83%,
    hsl(173deg 100% 5%) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
}
.reward-box-2 {
  background-image: linear-gradient(
    220deg,
    hsl(263deg 91% 5%) 11%,
    hsl(221deg 43% 15%) 48%,
    hsl(204deg 72% 21%) 62%,
    hsl(195deg 100% 24%) 72%,
    hsl(189deg 100% 29%) 80%,
    hsl(181deg 100% 32%) 88%,
    hsl(172deg 100% 38%) 100%
  );
  box-shadow: rgba(0, 196, 170, 0.3) 0px 8px 24px;
}
.reward-logo-box img {
  width: 64px;
  height: fit-content;
  align-self: center;
  padding: 0 1rem 0 0;
}
.reward-logo-box {
  align-self: center;
  display: flex;
  text-align: left;
}
.reward-text-box {
  color: var(--primary-color-light-4--);
  font-size: 0.9rem;
  font-weight: 600;
}
.reward-tag {
  color: var(--primary-color-light-4--);
  background: var(--primary-color--);
  display: inline-flex;
  align-self: flex-start;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.section-3-bottom-part {
  text-align: center;
  margin: 2rem 0 0 0;
}
.section-3-title {
  color: var(--primary-color-light-4--);
  font-family: var(--head-font--);
  font-size: 6rem;
  line-height: 1;
}
.section-3-title-1 {
  font-family: var(--head-font--);
  font-size: 6rem;
  background: -webkit-linear-gradient(
    270deg,
    var(--primary-color-light-1--),
    var(--secondary-color-light-1--)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-color-light-4--);
  padding: 0;
  margin: 0 0 1rem 0;
  line-height: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color-dark-3--) !important;
}
.section-3-title-2 {
  color: var(--primary-color-light-4--);
  font-weight: 600;
}

/* ----------------------
Section 4
--------------------------*/
.section-4 {
  padding: 5rem 0;
  background-image: linear-gradient(
    230deg,
    hsl(263deg 91% 18%) 0%,
    hsl(263deg 92% 24%) 13%,
    hsl(263deg 92% 30%) 21%,
    hsl(263deg 92% 36%) 26%,
    hsl(263deg 92% 39%) 32%,
    hsl(263deg 93% 36%) 37%,
    hsl(263deg 93% 32%) 43%,
    hsl(263deg 93% 28%) 50%,
    hsl(259deg 81% 24%) 58%,
    hsl(254deg 69% 19%) 68%,
    hsl(255deg 62% 12%) 81%,
    hsl(263deg 91% 5%) 100%
  );
}

.section-4-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
  justify-content: center;
}
.section-4-side-1 {
  padding: 2rem 0 2rem 3rem;
  background: var(--primary-color-dark-4--);
  box-shadow: rgba(17, 12, 46, 0.95) 0px 48px 100px 0px;
}
.section-4-side-1-title-1 {
  color: rgba(255, 255, 255, 0.85);
  font-family: var(--head-font--);
  font-size: 5rem;
  line-height: 1;
}
.section-4-side-1-title-2 {
  color: rgba(255, 255, 255, 0.85);
  font-family: var(--head-font--);
  font-size: 5rem;
  background: -webkit-linear-gradient(
    270deg,
    var(--primary-color-light-1--),
    var(--secondary-color-light-1--)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-color-light-4--);
  line-height: 1;
  margin: 0 0 1.5rem 0;
}
.section-4-side-1-text {
  color: var(--primary-color-light-4--);
  font-weight: 500;
}
.section-4-side-1-hidden-box {
  margin: 1.25rem 0 0 0;
  line-height: 1.5;
}
.single-hidden-box {
  list-style: none;
  text-decoration: line-through;
  text-decoration-thickness: 0.125px;
  color: var(--primary-color-light-3--);
}
.section-4-side-2 {
  background: var(--primary-color-dark-4--);
  box-shadow: rgba(17, 12, 46, 0.95) 0px 48px 100px 0px;
  padding: 2rem 0 2rem 3rem;
}
.section-4-side-2-title-1,
.section-4-side-2-title-2 {
  color: rgba(255, 255, 255, 0.85);
  font-family: var(--head-font--);
  font-size: 4.5rem;
  line-height: 1;
}

.section-4-side-2-title-3 {
  color: rgba(255, 255, 255, 0.85);
  font-family: var(--head-font--);
  font-size: 4.5rem;
  background: -webkit-linear-gradient(
    270deg,
    var(--primary-color-light-1--),
    var(--secondary-color-light-1--)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary-color-light-4--);
  line-height: 1;
  margin: 0 0 1.5rem 0;
}
.section-4-side-2-text {
  color: var(--primary-color-light-4--);
  font-weight: 500;
}
.section-4-get-started-btn {
  color: var(--primary-color-light-4--);
  background: var(--primary-color--);
  padding: 0.75rem 1.25rem;
  margin: 1.25rem 0 0 0;
  display: inline-block;
}
/* ----------------------
Section 5
--------------------------*/
.section-5 {
  background-image: linear-gradient(
    135deg,
    hsl(263deg 91% 5%) 0%,
    hsl(264deg 93% 6%) 7%,
    hsl(263deg 89% 7%) 13%,
    hsl(263deg 91% 9%) 19%,
    hsl(263deg 92% 10%) 25%,
    hsl(262deg 90% 12%) 31%,
    hsl(263deg 91% 13%) 36%,
    hsl(263deg 92% 15%) 42%,
    hsl(263deg 90% 16%) 47%,
    hsl(263deg 91% 17%) 52%,
    hsl(263deg 92% 19%) 57%,
    hsl(263deg 92% 20%) 61%,
    hsl(263deg 92% 21%) 66%,
    hsl(263deg 93% 21%) 71%,
    hsl(262deg 91% 23%) 75%,
    hsl(263deg 92% 23%) 80%,
    hsl(263deg 92% 24%) 85%,
    hsl(263deg 92% 25%) 90%,
    hsl(263deg 92% 26%) 95%,
    hsl(263deg 93% 27%) 100%
  );
  padding: 4rem 0;
}
.section-5-container {
  max-width: 1000px;
  margin: 0 auto;
  background: var(--primary-color-dark-4--);
  padding: 2.75rem 2.5rem;
  gap: 0.5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
}
.section-5-side-1 {
  margin: 4rem 0 0 0;
}
.section-5-side-1-box-1 {
  background: var(--primary-color-dark-2--);
  display: inline-flex;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(36, 4, 89, 0.2) 0px 7px 29px 0px;
}
.section-5-side-1-box-1-logo img {
  max-width: 150px;
}
.section-5-side-1-box-1-download-icon-1 {
  background: var(--primary-color-dark-1--);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--primary-color-light-4--);
  font-weight: 600;
}
.section-5-side-1-box-1-download-icon-1 span,
.section-5-side-1-box-1-download-icon-2 span {
  margin: 0 0.5rem 0 0;
}
.section-5-side-1-box-1-download-icon-2 {
  background: var(--primary-color-dark-1--);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  color: var(--primary-color-light-4--);
  margin: 0.5rem 0 0 0;
  font-weight: 600;
}

.section-5-side-1-box-2-text-1 {
  color: var(--primary-color-light-4--);
  font-size: 4rem;
  font-family: var(--head-font--);
  margin: 1rem 0 2rem 0;
}
.section-5-side-1-box-2-text-2,
.section-5-side-1-box-2-text-3 {
  color: var(--primary-color-light-4--);
  line-height: 1.3;
  margin: 1.25rem 0;
}
.section-5-btn {
  background: var(--primary-color--);
  color: var(--primary-color-light-4--);
  padding: 1rem;
  display: inline-block;
  margin: 1.5rem 0 0 0;
}

.section-5-side-2 img {
  width: 100%;
}
